* {
    font-family: 'Roboto', sans-serif;
}

footer {
    text-align: center;
    margin: 300px;
    width: auto;
}

#spin {
    text-align: center;
    animation: rotate 2.2s linear infinite;
}

#center {
    text-align: center;
}

.carousele div img {
    width:1000px;
    height:500px
}

p {
    text-align: center;
    color: grey;
}

#fancy {
    font-family: 'Roboto', sans-serif;
    font-family: 'Zen Dots', cursive;
}

@keyframes rotate {
    to {transform: rotate(360deg); }
}